<!--Agregar una sección de detalles-->

<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2><!--formateo el nombre del heroe para mayusculas con la palabra uppercase-->
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="Hero name"/>
  </div>
  <button type="button" (click)="goBack()">go back</button><!--boton para ir a pagina atraz-->
  <button type="button" (click)="save()">save</button><!--boton para guardar-->
</div>
